#-----------------------------------------------------------
#--  Design Name	 :	CPU Evaluation Boad_2
#--
#--  File Name		 :	CPUEV2.ucf
#--  Function		 :	CPUEV2_Top module
#--
#--  HDL			 :	Verilog
#--  Purpose		 :	Synthesis
#--  Target Device	 :	Virtex5 XC5VLX50T-1FF1136C
#--  Creation Date	 :	2008/03/25 Ver.0.10
#--  Design 		 :	Sansei System Co.,Ltd.
#--  Auther 		 :	Y.Fujishiro
#--
#--  Update 		 :
#--
#-----------------------------------------------------------

#-----------------------------------------------------------
# Target Information
CONFIG PART=5VLX50TFF1136-1 ;


##########################################################
# Pin Assign
##########################################################

#////////////////////////////////////////
#// ZBT-RAM connection.
#////////////////////////////////////////
#// = Bus. =
NET  ZD<0>		   LOC=AJ30;
NET  ZD<1>		   LOC=AH29;
NET  ZD<2>		   LOC=AH30;
NET  ZD<3>		   LOC=AG30;
NET  ZD<4>		   LOC=AF29;
NET  ZD<5>		   LOC=AF30;
NET  ZD<6>		   LOC=AE29;
NET  ZD<7>		   LOC=AD29;
NET  ZD<8>		   LOC=V28;
NET  ZD<9>		   LOC=W27;
NET  ZD<10> 	   LOC=Y29;
NET  ZD<11> 	   LOC=Y28;
NET  ZD<12> 	   LOC=AA30;
NET  ZD<13> 	   LOC=AA29;
NET  ZD<14> 	   LOC=AB30;
NET  ZD<15> 	   LOC=AC30;
NET  ZD<16> 	   LOC=AP32;
NET  ZD<17> 	   LOC=AN32;
NET  ZD<18> 	   LOC=AM32;
NET  ZD<19> 	   LOC=AK31;
NET  ZD<20> 	   LOC=AK32;
NET  ZD<21> 	   LOC=AJ31;
NET  ZD<22> 	   LOC=AJ32;
NET  ZD<23> 	   LOC=AH32;
NET  ZD<24> 	   LOC=V30;
NET  ZD<25> 	   LOC=V29;
NET  ZD<26> 	   LOC=W30;
NET  ZD<27> 	   LOC=W29;
NET  ZD<28> 	   LOC=AD31;
NET  ZD<29> 	   LOC=AE32;
NET  ZD<30> 	   LOC=AE31;
NET  ZD<31> 	   LOC=AF31;

NET  ZDP<0> 	   LOC=AD30;
NET  ZDP<1> 	   LOC=AC29;
NET  ZDP<2> 	   LOC=AG31;
NET  ZDP<3> 	   LOC=AG32;

#// = Outputs. =
NET  ZA<0>		   LOC=AJ34;
NET  ZA<1>		   LOC=AD32;
NET  ZA<2>		   LOC=AC32;
NET  ZA<3>		   LOC=AB31;
NET  ZA<4>		   LOC=AB32;
NET  ZA<5>		   LOC=AH33;
NET  ZA<6>		   LOC=V34;
NET  ZA<7>		   LOC=V33;
NET  ZA<8>		   LOC=AF33;
NET  ZA<9>		   LOC=AG33;
NET  ZA<10> 	   LOC=V32;
NET  ZA<11> 	   LOC=AK34;
NET  ZA<12> 	   LOC=AK33;
NET  ZA<13> 	   LOC=AL34;
NET  ZA<14> 	   LOC=AL33;
NET  ZA<15> 	   LOC=AM33;
NET  ZA<16> 	   LOC=AN34;
NET  ZA<17> 	   LOC=AN33;
NET  ZA<18> 	   LOC=AF34;
NET  ZA<19> 	   LOC=AE33;

NET XE1 		   LOC=W34;
NET  E2A		   LOC=Y34;
NET XE3 		   LOC=AA33;
NET XZBE<0> 	   LOC=W31;
NET XZBE<1> 	   LOC=W32;
NET XZBE<2> 	   LOC=AA34;
NET XZBE<3> 	   LOC=Y33;
NET XGA 		   LOC=AD34;
NET XWA 		   LOC=AC34;
NET XZCKE		   LOC=AC33;
NET  ZCLKMA<0>	   LOC=Y32;
NET  ZCLKMA<1>	   LOC=AB33;

NET  ADVA		   LOC=AE34;
NET XFT 		   LOC=Y31;
NET XLBO		   LOC=AH34;
NET  ZZA		   LOC=AA31;

#// = Inputs. =


NET RS_TX			LOC=K11;
NET RS_RX			LOC=J11;


#///////////////////////////////////////
#// Clock connection.
#///////////////////////////////////////
#// = Outputs. =
#NET  DUMY		   LOC=K17;

#// = Inputs. =
#NET  CLK48M 	   LOC=H17;
NET  MCLK1		   LOC=J16;
NET XRST		   LOC=H18;

#////////////////////////////////////////
#// UNIVERSAL-I/O connection.
#////////////////////////////////////////
#// = Bus. =
NET  IOA<1> 	   LOC=C34;
NET  IOA<2> 	   LOC=E33;
NET  IOA<3> 	   LOC=D34;
NET  IOA<4> 	   LOC=J31;
NET  IOA<5> 	   LOC=K31;
NET  IOA<6> 	   LOC=J32;
NET  IOA<7> 	   LOC=E32;
NET  IOA<8> 	   LOC=C33;
NET  IOA<9> 	   LOC=F34;
NET  IOA<10>	   LOC=B33;
NET  IOA<11>	   LOC=G33;
NET  IOA<12>	   LOC=D32;
NET  IOA<13>	   LOC=F33;
NET  IOA<14>	   LOC=L29;
NET  IOA<15>	   LOC=A33;
NET  IOA<16>	   LOC=J30;
NET  IOA<17>	   LOC=G32;
NET  IOA<18>	   LOC=H32;
NET  IOA<19>	   LOC=C32;
NET  IOA<20>	   LOC=F29;
NET  IOA<21>	   LOC=H30;
NET  IOA<22>	   LOC=K29;
NET  IOA<23>	   LOC=E31;
NET  IOA<24>	   LOC=B32;
NET  IOA<25>	   LOC=J29;
NET  IOA<26>	   LOC=F31;
NET  IOA<27>	   LOC=G31;
NET  IOA<28>	   LOC=G28;
NET  IOA<29>	   LOC=H28;
NET  IOA<30>	   LOC=E29;
NET  IOA<31>	   LOC=F28;
NET  IOA<32>	   LOC=F30;
NET  IOA<33>	   LOC=G30;
NET  IOA<34>	   LOC=L28;
NET  IOA<35>	   LOC=H29;
NET  IOA<36>	   LOC=K27;
NET  IOA<37>	   LOC=J26;
NET  IOA<38>	   LOC=E27;
NET  IOA<39>	   LOC=K28;
NET  IOA<40>	   LOC=F26;
NET  IOA<41>	   LOC=E28;
NET  IOA<42>	   LOC=G26;
NET  IOA<43>	   LOC=L26;
NET  IOA<44>	   LOC=J27;
NET  IOA<45>	   LOC=E26;
NET  IOA<46>	   LOC=L25;
NET  IOA<47>	   LOC=G27;
NET  IOA<48>	   LOC=H27;
NET  IOA<49>	   LOC=G25;
NET  IOA<50>	   LOC=N10;
NET  IOA<51>	   LOC=H25;
NET  IOA<52>	   LOC=K26;
NET  IOA<53>	   LOC=J24;
NET  IOA<54>	   LOC=F25;
NET  IOA<55>	   LOC=J25;
NET  IOA<56>	   LOC=K24;
NET  IOA<57>	   LOC=L24;
NET  IOA<58>	   LOC=M10;
NET  IOA<59>	   LOC=P10;
NET  IOA<60>	   LOC=R11;
NET  IOA<61>	   LOC=L10;
NET  IOA<62>	   LOC=L11;
NET  IOA<63>	   LOC=H24;
NET  IOA<64>	   LOC=M30;
NET  IOA<65>	   LOC=L34;
NET  IOA<66>	   LOC=L33;
NET  IOA<67>	   LOC=M28;
NET  IOA<68>	   LOC=M27;
NET  IOA<69>	   LOC=M31;
NET  IOA<70>	   LOC=N32;
NET  IOA<71>	   LOC=M33;
NET  IOA<72>	   LOC=M32;
NET  IOA<73>	   LOC=N30;
NET  IOA<74>	   LOC=N29;
NET  IOA<75>	   LOC=N33;
NET  IOA<76>	   LOC=L30;
NET  IOA<77>	   LOC=N28;
NET  IOA<78>	   LOC=N27;
NET  IOA<79>	   LOC=P31;
NET  IOA<80>	   LOC=N34;
NET  IOA<81>	   LOC=L31;
NET  IOA<82>	   LOC=P30;
NET  IOA<83>	   LOC=P29;
NET  IOA<84>	   LOC=P32;
NET  IOA<85>	   LOC=M25;
NET  IOA<86>	   LOC=P27;
NET  IOA<87>	   LOC=P26;
NET  IOA<88>	   LOC=P34;
NET  IOA<89>	   LOC=N24;
NET  IOA<90>	   LOC=M26;
NET  IOA<91>	   LOC=R29;
NET  IOA<92>	   LOC=R33;
NET  IOA<93>	   LOC=R32;
NET  IOA<94>	   LOC=R28;
NET  IOA<95>	   LOC=R27;
NET  IOA<96>	   LOC=R31;
NET  IOA<97>	   LOC=P25;
NET  IOA<98>	   LOC=P24;
NET  IOA<99>	   LOC=N25;
NET  IOA<100>	   LOC=T33;
NET  IOA<101>	   LOC=T31;
NET  IOA<102>	   LOC=R34;
NET  IOA<103>	   LOC=T26;
NET  IOA<104>	   LOC=T30;
NET  IOA<105>	   LOC=T29;
NET  IOA<106>	   LOC=R26;
NET  IOA<107>	   LOC=R24;
NET  IOA<108>	   LOC=T28;
NET  IOA<109>	   LOC=U32;
NET  IOA<110>	   LOC=T34;
NET  IOA<111>	   LOC=T24;
NET  IOA<112>	   LOC=U31;
NET  IOA<113>	   LOC=U30;
NET  IOA<114>	   LOC=U33;
NET  IOA<115>	   LOC=T25;
NET  IOA<116>	   LOC=U28;
NET  IOA<117>	   LOC=U27;
NET  IOA<118>	   LOC=K34;
NET  IOA<119>	   LOC=U26;
NET  IOA<120>	   LOC=U25;
NET  IOA<121>	   LOC=H33;
NET  IOA<122>	   LOC=K33;
NET  IOA<123>	   LOC=J34;
NET  IOA<124>	   LOC=E34;
NET  IOA<125>	   LOC=H34;
NET  IOA<126>	   LOC=K32;


##########################################################
# Pin Type Define
##########################################################
#////////////////////////////////////////
#// ZBT-RAM Type Define.
#////////////////////////////////////////
#// = Bus. =
NET  ZD<0>		   IOSTANDARD = LVTTL;
NET  ZD<1>		   IOSTANDARD = LVTTL;
NET  ZD<2>		   IOSTANDARD = LVTTL;
NET  ZD<3>		   IOSTANDARD = LVTTL;
NET  ZD<4>		   IOSTANDARD = LVTTL;
NET  ZD<5>		   IOSTANDARD = LVTTL;
NET  ZD<6>		   IOSTANDARD = LVTTL;
NET  ZD<7>		   IOSTANDARD = LVTTL;
NET  ZD<8>		   IOSTANDARD = LVTTL;
NET  ZD<9>		   IOSTANDARD = LVTTL;
NET  ZD<10> 	   IOSTANDARD = LVTTL;
NET  ZD<11> 	   IOSTANDARD = LVTTL;
NET  ZD<12> 	   IOSTANDARD = LVTTL;
NET  ZD<13> 	   IOSTANDARD = LVTTL;
NET  ZD<14> 	   IOSTANDARD = LVTTL;
NET  ZD<15> 	   IOSTANDARD = LVTTL;
NET  ZD<16> 	   IOSTANDARD = LVTTL;
NET  ZD<17> 	   IOSTANDARD = LVTTL;
NET  ZD<18> 	   IOSTANDARD = LVTTL;
NET  ZD<19> 	   IOSTANDARD = LVTTL;
NET  ZD<20> 	   IOSTANDARD = LVTTL;
NET  ZD<21> 	   IOSTANDARD = LVTTL;
NET  ZD<22> 	   IOSTANDARD = LVTTL;
NET  ZD<23> 	   IOSTANDARD = LVTTL;
NET  ZD<24> 	   IOSTANDARD = LVTTL;
NET  ZD<25> 	   IOSTANDARD = LVTTL;
NET  ZD<26> 	   IOSTANDARD = LVTTL;
NET  ZD<27> 	   IOSTANDARD = LVTTL;
NET  ZD<28> 	   IOSTANDARD = LVTTL;
NET  ZD<29> 	   IOSTANDARD = LVTTL;
NET  ZD<30> 	   IOSTANDARD = LVTTL;
NET  ZD<31> 	   IOSTANDARD = LVTTL;

NET  ZDP<0> 	   IOSTANDARD = LVTTL;
NET  ZDP<1> 	   IOSTANDARD = LVTTL;
NET  ZDP<2> 	   IOSTANDARD = LVTTL;
NET  ZDP<3> 	   IOSTANDARD = LVTTL;

#// = Outputs. =
NET  ZA<0>		   IOSTANDARD = LVTTL;
NET  ZA<1>		   IOSTANDARD = LVTTL;
NET  ZA<2>		   IOSTANDARD = LVTTL;
NET  ZA<3>		   IOSTANDARD = LVTTL;
NET  ZA<4>		   IOSTANDARD = LVTTL;
NET  ZA<5>		   IOSTANDARD = LVTTL;
NET  ZA<6>		   IOSTANDARD = LVTTL;
NET  ZA<7>		   IOSTANDARD = LVTTL;
NET  ZA<8>		   IOSTANDARD = LVTTL;
NET  ZA<9>		   IOSTANDARD = LVTTL;
NET  ZA<10> 	   IOSTANDARD = LVTTL;
NET  ZA<11> 	   IOSTANDARD = LVTTL;
NET  ZA<12> 	   IOSTANDARD = LVTTL;
NET  ZA<13> 	   IOSTANDARD = LVTTL;
NET  ZA<14> 	   IOSTANDARD = LVTTL;
NET  ZA<15> 	   IOSTANDARD = LVTTL;
NET  ZA<16> 	   IOSTANDARD = LVTTL;
NET  ZA<17> 	   IOSTANDARD = LVTTL;
NET  ZA<18> 	   IOSTANDARD = LVTTL;
NET  ZA<19> 	   IOSTANDARD = LVTTL;

NET XE1 		   IOSTANDARD = LVTTL;
NET  E2A		   IOSTANDARD = LVTTL;
NET XE3 		   IOSTANDARD = LVTTL;
NET XZBE<0> 	   IOSTANDARD = LVTTL;
NET XZBE<1> 	   IOSTANDARD = LVTTL;
NET XZBE<2> 	   IOSTANDARD = LVTTL;
NET XZBE<3> 	   IOSTANDARD = LVTTL;
NET XGA 		   IOSTANDARD = LVTTL;
NET XWA 		   IOSTANDARD = LVTTL;
NET XZCKE		   IOSTANDARD = LVTTL;
NET  ZCLKMA<0>	   IOSTANDARD = LVTTL;
NET  ZCLKMA<1>	   IOSTANDARD = LVTTL;

NET  ADVA		   IOSTANDARD = LVTTL;
NET XFT 		   IOSTANDARD = LVTTL;
NET XLBO		   IOSTANDARD = LVTTL;
NET  ZZA		   IOSTANDARD = LVTTL;

#// = Inputs. =
#////////////////////////////////////////
#// UNIVERSAL-I/O Type Define.
#////////////////////////////////////////
#// = Bus. =
#////////////////////////////////////////
#// UNIVERSAL-I/O Type Define.
#////////////////////////////////////////
#// = Bus. =
NET  IOA<1> 	   IOSTANDARD = LVTTL;
NET  IOA<2> 	   IOSTANDARD = LVTTL;
NET  IOA<3> 	   IOSTANDARD = LVTTL;
NET  IOA<4> 	   IOSTANDARD = LVTTL;
NET  IOA<5> 	   IOSTANDARD = LVTTL;
NET  IOA<6> 	   IOSTANDARD = LVTTL;
NET  IOA<7> 	   IOSTANDARD = LVTTL;
NET  IOA<8> 	   IOSTANDARD = LVTTL;
NET  IOA<9> 	   IOSTANDARD = LVTTL;
NET  IOA<10>	   IOSTANDARD = LVTTL;
NET  IOA<11>	   IOSTANDARD = LVTTL;
NET  IOA<12>	   IOSTANDARD = LVTTL;
NET  IOA<13>	   IOSTANDARD = LVTTL;
NET  IOA<14>	   IOSTANDARD = LVTTL;
NET  IOA<15>	   IOSTANDARD = LVTTL;
NET  IOA<16>	   IOSTANDARD = LVTTL;
NET  IOA<17>	   IOSTANDARD = LVTTL;
NET  IOA<18>	   IOSTANDARD = LVTTL;
NET  IOA<19>	   IOSTANDARD = LVTTL;
NET  IOA<20>	   IOSTANDARD = LVTTL;
NET  IOA<21>	   IOSTANDARD = LVTTL;
NET  IOA<22>	   IOSTANDARD = LVTTL;
NET  IOA<23>	   IOSTANDARD = LVTTL;
NET  IOA<24>	   IOSTANDARD = LVTTL;
NET  IOA<25>	   IOSTANDARD = LVTTL;
NET  IOA<26>	   IOSTANDARD = LVTTL;
NET  IOA<27>	   IOSTANDARD = LVTTL;
NET  IOA<28>	   IOSTANDARD = LVTTL;
NET  IOA<29>	   IOSTANDARD = LVTTL;
NET  IOA<30>	   IOSTANDARD = LVTTL;
NET  IOA<31>	   IOSTANDARD = LVTTL;
NET  IOA<32>	   IOSTANDARD = LVTTL;
NET  IOA<33>	   IOSTANDARD = LVTTL;
NET  IOA<34>	   IOSTANDARD = LVTTL;
NET  IOA<35>	   IOSTANDARD = LVTTL;
NET  IOA<36>	   IOSTANDARD = LVTTL;
NET  IOA<37>	   IOSTANDARD = LVTTL;
NET  IOA<38>	   IOSTANDARD = LVTTL;
NET  IOA<39>	   IOSTANDARD = LVTTL;
NET  IOA<40>	   IOSTANDARD = LVTTL;
NET  IOA<41>	   IOSTANDARD = LVTTL;
NET  IOA<42>	   IOSTANDARD = LVTTL;
NET  IOA<43>	   IOSTANDARD = LVTTL;
NET  IOA<44>	   IOSTANDARD = LVTTL;
NET  IOA<45>	   IOSTANDARD = LVTTL;
NET  IOA<46>	   IOSTANDARD = LVTTL;
NET  IOA<47>	   IOSTANDARD = LVTTL;
NET  IOA<48>	   IOSTANDARD = LVTTL;
NET  IOA<49>	   IOSTANDARD = LVTTL;
NET  IOA<50>	   IOSTANDARD = LVTTL;
NET  IOA<51>	   IOSTANDARD = LVTTL;
NET  IOA<52>	   IOSTANDARD = LVTTL;
NET  IOA<53>	   IOSTANDARD = LVTTL;
NET  IOA<54>	   IOSTANDARD = LVTTL;
NET  IOA<55>	   IOSTANDARD = LVTTL;
NET  IOA<56>	   IOSTANDARD = LVTTL;
NET  IOA<57>	   IOSTANDARD = LVTTL;
NET  IOA<58>	   IOSTANDARD = LVTTL;
NET  IOA<59>	   IOSTANDARD = LVTTL;
NET  IOA<60>	   IOSTANDARD = LVTTL;
NET  IOA<61>	   IOSTANDARD = LVTTL;
NET  IOA<62>	   IOSTANDARD = LVTTL;
NET  IOA<63>	   IOSTANDARD = LVTTL;
NET  IOA<64>	   IOSTANDARD = LVTTL;
NET  IOA<65>	   IOSTANDARD = LVTTL;
NET  IOA<66>	   IOSTANDARD = LVTTL;
NET  IOA<67>	   IOSTANDARD = LVTTL;
NET  IOA<68>	   IOSTANDARD = LVTTL;
NET  IOA<69>	   IOSTANDARD = LVTTL;
NET  IOA<70>	   IOSTANDARD = LVTTL;
NET  IOA<71>	   IOSTANDARD = LVTTL;
NET  IOA<72>	   IOSTANDARD = LVTTL;
NET  IOA<73>	   IOSTANDARD = LVTTL;
NET  IOA<74>	   IOSTANDARD = LVTTL;
NET  IOA<75>	   IOSTANDARD = LVTTL;
NET  IOA<76>	   IOSTANDARD = LVTTL;
NET  IOA<77>	   IOSTANDARD = LVTTL;
NET  IOA<78>	   IOSTANDARD = LVTTL;
NET  IOA<79>	   IOSTANDARD = LVTTL;
NET  IOA<80>	   IOSTANDARD = LVTTL;
NET  IOA<81>	   IOSTANDARD = LVTTL;
NET  IOA<82>	   IOSTANDARD = LVTTL;
NET  IOA<83>	   IOSTANDARD = LVTTL;
NET  IOA<84>	   IOSTANDARD = LVTTL;
NET  IOA<85>	   IOSTANDARD = LVTTL;
NET  IOA<86>	   IOSTANDARD = LVTTL;
NET  IOA<87>	   IOSTANDARD = LVTTL;
NET  IOA<88>	   IOSTANDARD = LVTTL;
NET  IOA<89>	   IOSTANDARD = LVTTL;
NET  IOA<90>	   IOSTANDARD = LVTTL;
NET  IOA<91>	   IOSTANDARD = LVTTL;
NET  IOA<92>	   IOSTANDARD = LVTTL;
NET  IOA<93>	   IOSTANDARD = LVTTL;
NET  IOA<94>	   IOSTANDARD = LVTTL;
NET  IOA<95>	   IOSTANDARD = LVTTL;
NET  IOA<96>	   IOSTANDARD = LVTTL;
NET  IOA<97>	   IOSTANDARD = LVTTL;
NET  IOA<98>	   IOSTANDARD = LVTTL;
NET  IOA<99>	   IOSTANDARD = LVTTL;
NET  IOA<100>	   IOSTANDARD = LVTTL;
NET  IOA<101>	   IOSTANDARD = LVTTL;
NET  IOA<102>	   IOSTANDARD = LVTTL;
NET  IOA<103>	   IOSTANDARD = LVTTL;
NET  IOA<104>	   IOSTANDARD = LVTTL;
NET  IOA<105>	   IOSTANDARD = LVTTL;
NET  IOA<106>	   IOSTANDARD = LVTTL;
NET  IOA<107>	   IOSTANDARD = LVTTL;
NET  IOA<108>	   IOSTANDARD = LVTTL;
NET  IOA<109>	   IOSTANDARD = LVTTL;
NET  IOA<110>	   IOSTANDARD = LVTTL;
NET  IOA<111>	   IOSTANDARD = LVTTL;
NET  IOA<112>	   IOSTANDARD = LVTTL;
NET  IOA<113>	   IOSTANDARD = LVTTL;
NET  IOA<114>	   IOSTANDARD = LVTTL;
NET  IOA<115>	   IOSTANDARD = LVTTL;
NET  IOA<116>	   IOSTANDARD = LVTTL;
NET  IOA<117>	   IOSTANDARD = LVTTL;
NET  IOA<118>	   IOSTANDARD = LVTTL;
NET  IOA<119>	   IOSTANDARD = LVTTL;
NET  IOA<120>	   IOSTANDARD = LVTTL;
NET  IOA<121>	   IOSTANDARD = LVTTL;
NET  IOA<122>	   IOSTANDARD = LVTTL;
NET  IOA<123>	   IOSTANDARD = LVTTL;
NET  IOA<124>	   IOSTANDARD = LVTTL;
NET  IOA<125>	   IOSTANDARD = LVTTL;
NET  IOA<126>	   IOSTANDARD = LVTTL;

#////////////////////////////////////////
#// Clock Type Define.
#////////////////////////////////////////
#// = Outputs. =

#// = Inputs. =
#NET  CLK48M 	   IOSTANDARD = LVTTL;
NET  MCLK1		   IOSTANDARD = LVTTL;
NET XRST		   IOSTANDARD = LVTTL;
NET RS_TX		   IOSTANDARD = LVTTL;
NET RS_RX		   IOSTANDARD = LVTTL;


############################################################################
# Clock constraints                                                        #
############################################################################

#NET "u_mig/u_infrastructure/sys_clk_ibufg" TNM_NET =  "SYS_CLK";
NET "bufg_66" TNM_NET = "SYS_CLK";
TIMESPEC "TS_SYS_CLK" = PERIOD "SYS_CLK" 14.52 ns HIGH 50 %;

###############################################################################
# Define multicycle paths - these paths may take longer because additional
# time allowed for logic to settle in calibration/initialization FSM
###############################################################################

